
.Header{
    height: 120px;
    width: 1000px;
    background-color: rgb(9, 243, 196);

}

.container{
    height: 130px;
    width: 1000px;
    
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 25px 10px;
    
}
.tools{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools li a{
    padding: 5px 5px;
    color:white;
    list-style: none;
    text-decoration: none;
    font-size: larger;
}
.tools li a:hover{
    color: #0671eb;
}

.Logo{
    font-size:xx-large;
    color: white;
    font-weight: 1000;
}
.button{
    font-size:xx-large;
    color: white;
    font-weight: 1000;
    background:aqua;
    border-radius: 10px;
    justify-content: cenet;
    align-items: center;

}
 a:hover{
    color: #0671eb;
     
}


